nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  a {
    padding: 0 1rem;
    font-weight: bold;
    transition: 0.2s ease;

    &:last-child {
      padding-right: 0;
    }
  }

  .logo {
    padding-left: 0;
    transition: 0.2s ease;

    svg {
      width: 3rem;
    }

    &:hover {
      color: inherit;
      transform: scale(1.05);
    }
  }

  .nav__left {
    display: flex;
    align-items: center;
  }

  .nav__right {
    a {
      font-size: 1.3rem;
      color: black;
      text-decoration: none;
      &:hover {
        color: blue;
      }
    }
  }
}

.wrapper {
  padding: 20px;
  .add {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;
    margin: 50px 0;

    &__button {
      background-color: blue;
      color: white;
      border-radius: 25px;
      padding: 10px 20px;
      text-decoration: none;
    }
  }

  .school {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 20px 20px 0px;

    .img__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      object-fit: cover;
      border-right: 1px solid black;
      text-align: center;
      padding: 30px;

      img {
        width: 100px;
      }
    }
    &__desc {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .underline {
        text-decoration: underline;
      }

      .red {
        color: red;
      }

      .strong {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
    .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      margin-right: 20px;

      &__update {
        background-color: blue;
        color: white;
        border-radius: 25px;
        padding: 10px 20px;
        text-decoration: none;
      }

      &__danger {
        background-color: red;
        color: white;
        border-radius: 25px;
        padding: 10px 20px;
        border: none;
      }
    }
  }
}

footer {
  background-color: black;
  padding: 40px;
}

.footer__inner {
  width: 50%;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }
}
